/* NavBar.module.scss */

.navbar {
  background-color: #333;
  padding: 10px;
  border-radius: 0 0 10px 10px; /* Zaokrąglone dolne boki */
  margin-bottom: 40px;
}

.navList {
  list-style-type: none;
  display: flex;
  justify-content: center; /* Zmienione na center, aby linki były na środku */
  padding: 0;
}

.navItem {
  margin: 0;
  padding: 0 10px; /* Dodany odstęp między linkami */
}

.activeLink {
  color: #fff;
  font-weight: bold;
  text-decoration: underline; /* Dodane podkreślenie dla aktywnego linku */
}

.navItem:hover a {
  color: #ddd; /* Zmiana koloru linku podczas najechania myszką */
}

/* Nowe style dla linków */
.navItem a {
  color: #fff;
  font-weight: bold;
  text-decoration: none; /* Usunięcie domyślnego podkreślenia dla linków */
}

.navItem a:hover {
  color: #ddd; /* Zmiana koloru linku podczas najechania myszką */
}

.cartItemCount {
  background-color: #e74c3c;
  color: #fff;
  border-radius: 50%;
  padding: 3px 8px;
  font-size: 12px;
  position: absolute;
  top: 2px;
}