/* Home.module.scss */

.homeContainer {
    text-align: center;
    padding: 20px;
  }
  
  .heading {
    font-family: 'Arial', sans-serif; /* Wybierz odpowiednią czcionkę */
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333; /* Kolor tekstu */
  }
  
  .productsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }