/* Home.module.scss */

.homeContainer {
  text-align: center;
  padding: 20px;
}

.roundedImage {
  border-radius: 10px;
}

.heading {
  font-family: 'Arial', sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.productsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

// Media
@media only screen and (max-width: 768px) {
  .homeContainer {
    padding: 10px;
  }

  .heading {
    font-size: 24px;
  }
}