// Product.module.scss

.productContainer {
  text-align: center;
  margin-top: 20px;
}

.noSearch {
  color: red;
  text-align: center;
}

.productImage {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  object-fit: cover;
}

.productPrice {
  font-weight: bold;
  font-size: 40px;
}

.productTitle {
  font-size: 25px;
  font-weight: 500;
}

.sizeChart {
  margin-top: 20px;
}

.availableSizes {
  font-size: 25px;
}

.sizeButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.sizeButton {
  width: 80px;
  padding: 10px;
  color: black;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 10px;

  &:nth-child(6n) {
    margin-right: 0;
  }

  &.selected {
    border-radius: 10px;
    border: 3px solid #28a745;
  }

  &:disabled {
    background-color: #ccc;
    border-color: #ccc;
    color: #888;
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.orderButton {
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: 1px solid #28a745;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;

  &:hover {
    box-shadow: 0 4px 8px rgba(0.2, 0.2, 0.2, 0.2);
  }
}

.addToCartButton {
  background-color: transparent;
  color: green;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid #ddd;
  display: inline-block;
  border-color: #28a745;  
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: #4caf50;
    color: white;
  }
}

// Media
@media (max-width: 768px) {
  .productContainer {
    padding: 0 20px; /* Dostosowanie marginesów dla mniejszych ekranów */
  }

  .sizeChart {
    margin-top: 10px; /* Dostosowanie marginesu dla mniejszych ekranów */
  }
}