/* WelcomeSection.module.scss */

.welcomeSection {
  text-align: center;
  margin-bottom: 40px;
}

.viewProductsButton {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: white;
  color: #333;
  padding: 15px 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none; /* Usunięcie podkreślenia dla linku */
  display: inline-block; /* Dodanie odstępu na górze i na dole */
  margin-top: 10px; /* Dodałem odstęp na górze */
  margin-bottom: 10px; /* Dodałem odstęp na dole */
  transition: background-color 0.3s ease;
}

.viewProductsButton:hover {
  background-color: transparent;
  border-color: #ffd700;
  background-color: white;
  color: black;
}

.viewProductsButton strong {
  font-weight: bold;
}

.separator {
  border-top: 1px solid #ddd;
  margin: 10px 0;
}
