// Footer.module.scss

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 40px;
  border-radius: 10px 10px 0 0;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
}

.socialIcons a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.socialIcons a:hover {
  color: #ddd;
}

.footerSections {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

.footerSection {
  flex: 1;
  max-width: 300px;
  margin: 0 10px;
}

.footerSection h3 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
}

.footerSection ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footerSection ul li {
  margin-bottom: 8px;
}

.footerSection ul li a {
  color: #ddd;
  text-decoration: none;
}

.footerSection ul li a:hover {
  color: #fff;
}

.footerSection p {
  color: #ddd;
  font-size: 14px;
}

.footerSection ul li.comingSoon {
  pointer-events: none;
}

.footerSection ul li.comingSoon:hover {
  cursor: not-allowed;
}

.footerSection .comingSoon {
  color: gray;
  font-size: 14px;
  margin-left: 5px;
}
