// FinallyOrder.module.scss

.finallyOrderContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.orderSummary {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
}
  
.orderSummary h2 {
  margin-bottom: 10px;
  font-size: 24px;
}
  
.orderSummary ul {
  list-style: none;
  padding: 0;
}
  
.orderSummary li {
  margin-bottom: 10px;
  font-size: 16px;
}

.submitOrder {
  text-align: center;
}

.orderButton {
  color: green;
  width: 100%;
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
  border-color: #28a745;
  transition: background-color 0.3s, color 0.3s; 
  padding: 10px;

  &:hover {
    background-color: #4caf50;
    color: white;
  }
}
  
.cartItem {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}
  
.productInfo {
  display: flex;
  flex-direction: column;
}
  
.productTitle span {
  font-weight: bold;
}
  
.productQuantity span {
  margin-top: 5px;
  font-weight: bold;
}

.productPrice span {
  margin-top: 5px;
  font-weight: bold;
}

.productSize span {
  margin-top: 5px;
  font-weight: bold;
}